body
{
    background-color: rgb(124, 124, 114);
   font-size: large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p1
{
    color: rgb(14, 14, 14);
    position: absolute;
    top: 30%;
    left: 35%;        
    transform: translate(-50%,-50%);
    padding :20px;
    box-sizing: border-box;
    background: rgb(114, 112, 112);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;   
     
}
.p1 .content
{
     margin-left: 3%;
}
.p1 h1
{
     color: dimgrey;
}

.p2
{
    color: rgb(7, 7, 7);
    position: absolute;
    top: 100%;
    left: 35%;     
    transform: translate(-50%,-50%);
    padding :20px;
    box-sizing: border-box;
    background: rgb(114, 112, 112);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;   
}

.p2 .content
{
    margin-left:3%;
}