body
{
    color:rgb(175, 228, 228);
}
*
{
   margin: 0;
   padding: 0;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
.logo
{
    margin-top: 2%;
}
nav   
{
    
   display: flex;
   justify-content: space-between;
   padding: 10px;
}

header
{
    background-color: rgb(148, 148, 137);
    height:100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#left-nav
{
    margin-top:20px;
    display:  inline-block;
    align-items:   baseline;
    width: 50%;
    border :6px solid rgb(88, 85, 85);
    margin: 10px 10% 10px 10px;
    margin-left: -10%;
    
}
#contact
{
    padding : 10px 30px;
    margin-top:20px;
    font-weight: 900;
    border: 0px  ;
    background-color: rgb(70, 230, 158);
    color: grey; 

}

#contact:hover
{
    color: rgb(70, 230, 158);
    background-color :  rgb(124, 124, 114);
    border: 3px solid rgb(70, 230, 158);
    transition: 0.5s;
}
.container
{
    width:1200px;
    margin-inline: auto;
}
img
{
    border-radius: 50%;
}
a 
{
    
    text-decoration: none;
    font-size: 20px;
    margin-left:10px;
    text-transform: uppercase;
    text-decoration:none;
    color:black;
     

}
a:hover
{
    /* color:rgb(72, 202, 200); */
    transition: 0.4s;
    /* border :2px solid rgb(72, 202, 200); */
}
#hero 
{
    display: flex;
    margin-inline-end: auto;
    margin: auto;
    color:aliceblue;
    align-items: center;
    justify-content: space-between;
}
#hero-right 
{
    text-align: right;
    width:500px;
}
#hero-right h4
{
    color:rgb(4, 46, 40);
}
#hero-right h1
{
    color:#0f664a;
}

ul
      {
        background-color: aquamarine  ;
        padding: 0 50px;
        height: 50px;
        margin: 50px;
      }

 li
      {
        line-height: 50px;
        display: inline-block;
        height: 50px;
        padding:0 30px;
      }

li:hover
{
    background-color: rgb(83, 79, 79);
}
#logo
{
    margin-top: 50%;
}

/* drop down box designs  */
.dropbtn {
    background-color: #096643;
     
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
    margin-top: 2%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a
  {
    color: black;
    padding: 12px 16px;
    text-decoration: #0f664a;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}